NEXT_PUBLIC_SUPABASE_URL=https://uuxvjxdayeovhbduxmbu.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV1eHZqeGRheWVvdmhiZHV4bWJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQwODIxMzEsImV4cCI6MjA3OTY1ODEzMX0.yCYw5YiWr3XhV_J_5k_8riTbYDB-T2U8uGUxcR2SK84
NEXT_PUBLIC_API_URL=http://localhost:3003/api

